In [ ]:
# materi data handling

# df
# cara membuat data frame
# colums = <nama header colom> | digunakan jika ingin memberi nama pada suatu kolom
# .shape(), untuk menampilkan ukuran df => brp baris dan brp kolom
# len(<var dataframe>), digunakan untuk membaca banyaknya data dgn hitungan idx.
# .describe() untuk membaca detail dara data, terdiri dari count,mean,std, min, 25%, 50%, 75%,dan max ini tergantung banyaknya data
# .info(untuk meriksa apakah ada missing value pd data), pandas
# untuk membaca kolom tertentu terdapat 2 cara:
# df["<nama kolom>"] atau df.<nama kolom>
# format untuk membaca sel terntu dari suatu kolom: .iloc[baris,kolom], bisa pake slicing juga

# #MANIPULASI DATA
# manipulasi data: join(base on index), concat(base on idx) bedanya ada di axis=, 1 apabila beberapa data ingin digabung, klo axis= 0, akan menambah baris dan colom  menummpuk data yg sudah ada, merge = > sifat siftnya yg komplex
# join() - Bergabung Berdasarkan Index
# Karakteristik:
# Berdasarkan: Index (default)
# Tipe join: Left join (default)
# Use case: Menggabungkan DataFrame berdasarkan index
# Parameter penting:
# how: 'left', 'right', 'inner', 'outer'
# lsuffix, rsuffix: Suffix untuk kolom duplikat

# concat() - Menggabungkan Vertikal/Horizontal
# Karakteristik:
# Berdasarkan: Axis (0=vertical, 1=horizontal)
# Tipe: Stacking/concatenation
# Use case: Menggabungkan DataFrame dengan struktur serupa
# Parameter penting:
# axis: 0 (vertical), 1 (horizontal)
# ignore_index: Reset index
# keys: Multi-index untuk identifikasi source

# merge() - SQL-style Join
# Karakteristik:
# Berdasarkan: Kolom tertentu (bukan index)
# Tipe join: Inner join (default)
# Use case: Menggabungkan seperti SQL JOIN
# Parameter penting:
# on: Kolom untuk join
# how: 'inner', 'left', 'right', 'outer', 'cross'
# left_on, right_on: Kolom berbeda antara DataFrame

# .iloc[bisa pakai idx atau nama kolom] => untuk memanipulasi value 
# .drop(nomer brp, memakai numerik manusia) => menghaous value 
# .index => mendefinisikan nilai idx ke df
# .at[<baris idx brp>, <nama kolom>] = <value yg akan diubah>

# #BEKERJA DGN FILE
# masih berlaku aturan file handling
# menyimpan data ke dalam csv, .to_csv(<nama fie>)

# $apabila ada data null dan bernilai dgn numerik bbisa diisi dgn nilai mean
# $apbila kategorikal bisa diganti dgn modus

<h3> menggabungkan beberapa tabel </h3
>

In [75]:
import pandas as pds
file = '/Users/ADVAN/Documents/Gakkou/Data Science.Machine Learning/data handling/data_siswa.csv'
df = pds.read_csv(file)
# df.head(2)
print(df)
listbaru = ['Pria', 'Pria', 'Wanita','Wanita', 'Pria']
df1 = pds.DataFrame(listbaru, columns= ['Gender'])

# join = df.join(df1)
# print("\n use join methode")
# print(join)
concat = pds.concat([df, df1], axis=1)
print("\n use concat methode")
print(concat)
print(concat.shape)
merge = pds.merge(df, df1, left_index = True, right_index=True)
print("\n use merge methode")
print(merge)

   Unnamed: 0   Nama  Umur Kelas  Nilai  Gender
0           0   Andi    16   10A     85    Pria
1           1   Budi    17   11B     90    Pria
2           2  Citra    16   10B     78  Wanita
3           3  Dinda    17   11A     88  Wanita
4           4  Rossi    15    9C     92    Pria

 use concat methode
   Unnamed: 0   Nama  Umur Kelas  Nilai  Gender  Gender
0           0   Andi    16   10A     85    Pria    Pria
1           1   Budi    17   11B     90    Pria    Pria
2           2  Citra    16   10B     78  Wanita  Wanita
3           3  Dinda    17   11A     88  Wanita  Wanita
4           4  Rossi    15    9C     92    Pria    Pria
(5, 7)

 use merge methode
   Unnamed: 0   Nama  Umur Kelas  Nilai Gender_x Gender_y
0           0   Andi    16   10A     85     Pria     Pria
1           1   Budi    17   11B     90     Pria     Pria
2           2  Citra    16   10B     78   Wanita   Wanita
3           3  Dinda    17   11A     88   Wanita   Wanita
4           4  Rossi    15    9C     92     Pria     Pria

memanipulasi tabel

In [77]:
import pandas as pds
file = '/Users/ADVAN/Documents/Gakkou/Data Science.Machine Learning/data handling/data_siswa.csv'
df = pds.read_csv(file)
listbaru = ['Pria', 'Pria', 'Wanita','Wanita', 'Pria']
df1 = pds.DataFrame(listbaru, columns= ['Gender'])
# join = df.join(df1)
# join.shape
print("\n use join methode")
# join = join.drop('No', axis = 1)# menghapus value yg kita mau dan axis = 1 untuk kolom, axis = 0 untuk baris
# print(join)
# # join.iloc[]
concat = pds.concat([df, df1], axis=1)
print("\n use concat methode")
print(concat)
print(concat.shape)

 use join methode

 use concat methode
   Unnamed: 0   Nama  Umur Kelas  Nilai  Gender  Gender
0           0   Andi    16   10A     85    Pria    Pria
1           1   Budi    17   11B     90    Pria    Pria
2           2  Citra    16   10B     78  Wanita  Wanita
3           3  Dinda    17   11A     88  Wanita  Wanita
4           4  Rossi    15    9C     92    Pria    Pria
(5, 7)

ubah value

In [78]:
import pandas as pds
file = '/Users/ADVAN/Documents/Gakkou/Data Science.Machine Learning/data handling/data_siswa.csv'
df = pds.read_csv(file)
listbaru = ['Pria', 'Pria', 'Wanita','Wanita', 'Pria']
df1 = pds.DataFrame(listbaru, columns= ['Gender'])
# df3 = df.join(df1)
# print(join.shape)
# print("\n use join methode")
# join = join.drop('No', axis = 1)# menghapus value yg kita mau dan axis = 1 untuk kolom, axis = 0 untuk baris
# # print(join)
# join.at[4, 'Nama'] = 'Rossi' # manipulasi value
# join
concat = pds.concat([df, df1], axis=1)
print("\n use concat methode")
print(concat)
print(concat.shape)
concat.to_csv(file)

 use concat methode
   Unnamed: 0   Nama  Umur Kelas  Nilai  Gender  Gender
0           0   Andi    16   10A     85    Pria    Pria
1           1   Budi    17   11B     90    Pria    Pria
2           2  Citra    16   10B     78  Wanita  Wanita
3           3  Dinda    17   11A     88  Wanita  Wanita
4           4  Rossi    15    9C     92    Pria    Pria
(5, 7)